
# tests
tests
test_*.py
.cache

# build dirs
__pycache__

# .py files
clipboard.py
example.py
pyflann_timing.py

# .pyc files
*.pyc


# results
results/*
#!results/obj/
#results/obj/*
#!results/obj/saved/

data
